.section-team {
    padding: 10rem 0 10rem;
    &:after {
      background-image: url(../img/pages/corporate/team-bg.png);
    }
    .content-wrapper {
        .container {
            max-width: 90%;
            .first-string {
                display: flex;
                justify-content: space-between;
                .team-title {
                    font-size: 5rem;
                    line-height: 5rem;
                    width: 42%;
                }
                .profile {
                    width: 25%;
                    position: relative;
                    display: flex;
                    left: 4rem;
                    &:nth-child(2) {
                        top: 2rem;
                        .profile-photo {
                            background-image: url(../img/pages/corporate/Chris.png);
                        }
                    }
                    &:nth-child(3) {
                        .profile-photo {
                            background-image: url(../img/pages/corporate/Helen.png);
                        }
                    }
                    .profile-info {
                        font-size: .7rem;
                        position: absolute;
                        top: 5rem;
                        left: -4rem;
                        line-height: .9rem;
                        .profile-job {
                            font-weight: 100;
                            margin-bottom: 0.5rem;
                        }
                        .profile-underline {
                            width: 0.55rem;
                            border-bottom: 1px solid #fff;
                        }
                    }
                    .profile-photo {
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 74%;
                        height: 100%;
                    }
                }
            }
            .second-string {
                display: flex;
                justify-content: space-between;
                min-height: 390px;

                .profile {
                    width: 25%;
                    position: relative;
                    display: flex;
                    &:nth-child(1) {
                        top: 7rem;
                        .profile-photo {
                            background-image: url(../img/pages/corporate/Deb.png);
                        }
                    }
                    &:nth-child(2) {
                        top: 2rem;
                        .profile-photo {
                            background-image: url(../img/pages/corporate/Danielle.png);
                        }
                    }
                    &:nth-child(3) {
                        top: 9rem;
                        .profile-photo {
                            background-image: url(../img/pages/corporate/Rachel.png);
                        }
                    }
                    &:nth-child(4) {
                        top: 4rem;
                        .profile-photo {
                            background-image: url(../img/pages/corporate/Rabbie.png);
                        }
                    }
                    .profile-info {
                        font-size: .7rem;
                        position: absolute;
                        top: 5rem;
                        left: -4rem;
                        line-height: .9rem;
                        .profile-job {
                            font-weight: 100;
                            margin-bottom: 0.5rem;
                        }
                        .profile-underline {
                            width: 0.55rem;
                            border-bottom: 1px solid #fff;
                        }
                    }
                    .profile-photo {
                        background-image: url(../img/pages/corporate/Helen.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 74%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
